DATABASE_URL=postgresql://usuario:password@localhost:5432/redbus_clone
CORS_ORIGINS=*
RESERVA_EXPIRA_MINUTOS=20
FRONTEND_BASE_URL=https://tu-pwa.vercel.app
ADMIN_PASSWORD=cambia-esta-clave
ADMIN_SECRET_KEY=cambia-esta-clave-secreta-tambien
ADMIN_TOKEN_EXPIRA_HORAS=12
